/* index.css */
div.pile>div.row>div.col {
    position:relative;
}
div.pile #pile1>img,
div.pile #pile2>img,
div.pile #pile3>img,
div.pile #pile4>img,
div.pile #pile5>img,
div.pile #pile6>img {
    background-color:white;
}

div.base img#stock_upturned_fw {
    position:relative;
}
div.base img#stock_upturned_nx {
    position:absolute;
    top:0;
    left:0;
}
